.game-title-area {
  width: 940px;
  margin: 0 auto;

  .genre-block {
    padding-top: 10px;
    color: #56707f;
    font-size: 12px;
    font-family: "Motiva Sans", Sans-serif;
    font-weight: normal;

    .genre-item {
      color: #8f98a0;

      &:hover {
        color: #ffffff;
      }
    }
  }

  .game-header-content {
    padding-top: 0px;
    position: relative;
    margin: 0px auto;
    text-align: left;
    min-height: 46px;

    .game-community {
      position: relative;
      float: right;

      .community-btn {
        border-radius: 2px;
        border: none;
        padding: 1px;
        display: inline-block;
        cursor: pointer;
        text-decoration: none !important;
        color: #67c1f5 !important;
        background: rgba(103, 193, 245, 0.2);

        &:hover {
          text-decoration: none !important;
          color: #fff !important;
          background: linear-gradient(-60deg, #417a9b 5%, #67c1f5 95%);
        }

        span {
          padding: 0 15px;
          font-size: 15px;
          line-height: 30px;
          border-radius: 2px;
          display: block;
          background: transparent;
        }
      }
    }

    .main-game-name {
      color: white;
      font-size: 26px;
      line-height: 32px;
      text-overflow: ellipsis;
      font-family: "Motiva Sans", Sans-serif;
      font-weight: normal;
      padding-left: 0px;
    }
  }
}



.game-background {
  background: url("/images/game_page_background_shadow.png");
  background-position: bottom;
  padding-bottom: 1px;
  background-repeat: no-repeat;
  margin: 0px auto;
  display: flex;

  .game-page-content {
    width: 940px;
    margin: 0 auto;
    padding-bottom: 12px;
    background: linear-gradient(to right,
        rgba(0, 0, 0, 0) 50%,
        rgba(0, 0, 0, 0.4) 100%);

    .right-game-summary {
      width: 324px;
      margin-left: 0px;
      float: right;

      .game-image {
        margin-bottom: 7px;

        .image-full {
          width: 324px;
          height: 151px;
        }
      }

      .game-discription {
        max-height: 111px;
        overflow: hidden;
        font-size: 13px;
        line-height: 18px;
        padding-right: 16px;
        display: -webkit-box;
        -webkit-line-clamp: 6;
        -webkit-box-orient: vertical;
      }

      .game-glance-first {
        .summary-subtitle {
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          text-transform: uppercase;
          font-size: 10px;
          padding-right: 10px;
          min-width: 94px;
          color: #556772;
        }

        .summary-column {
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;

          a {
            color: #67c1f5;

            &:hover {
              color: #ffffff;
            }
          }

          .game-review-summary {
            &.positive {
              color: #66c0f4;
            }

            &.mixed {
              color: #b9a074;
            }

            &.negative {
              color: #a34c25;
            }

            &:hover {
              cursor: pointer;

              &~.review-tooltip {
                opacity: 1;
              }
            }
          }

          .review-tooltip {
            background: #c2c2c2;
            color: #3d3d3f;
            font-size: 11px;
            border-radius: 3px;
            padding: 5px;
            max-width: 275px;
            white-space: normal;
            box-shadow: 0 0 3px #000000;
            word-wrap: break-word;
            position: absolute;
            z-index: 15000;
            pointer-events: auto;
            opacity: 0;
            transition: opacity 0.2s ease-in-out;
            top: 50%;
            left: 60%;
          }
        }

        .user-reviews {
          font-size: 12px;
          color: #556772;
          margin-top: 10px;

          .user-reviews-summary {
            display: flex;
            line-height: 16px;

          }
        }

        .release-date {
          padding-top: 9px;
          padding-bottom: 13px;
          display: flex;
          line-height: 16px;

          .date {
            max-height: 30px;
            overflow: hidden;
            color: #8f98a0;
          }
        }

        .dev-publish {
          display: flex;
          line-height: 16px;

          a {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
          }
        }
      }

      .user-defined-tags {
        margin: 10px 0px 0px 0px;
        font-size: 11px;

        .glance-tags-label {
          line-height: 19px;
          font-size: 12px;
          color: #556772;
        }

        .glance-tags {
          white-space: nowrap;
          height: 22px;

          .game-tag {
            display: inline-block;
            line-height: 19px;
            padding: 0 7px;
            color: #67c1f5;
            background-color: rgba(103, 193, 245, 0.2);
            box-shadow: none;
            margin-right: 2px;
            border-radius: 2px;
            cursor: pointer;
            margin-bottom: 3px;
            max-width: 200px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;

            &:hover {
              background: linear-gradient(135deg, #67c1f5 0%, #417a9b 100%);
              text-decoration: none;
              color: #ffffff;
            }
          }
        }
      }
    }

    .left-game-summary {
      width: 616px;
      float: left;

      .game-highlights {
        overflow: hidden;
        margin-right: 16px;
        position: relative;

        .player-area {
          opacity: 1;
          transition: opacity 0.7s ease-in-out;
          user-select: none;
          background-color: rgba(103, 193, 245, 0.2);
          overflow: hidden;
          position: relative;
          z-index: 50;

          .player-item {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            text-align: center;

            .screenshot-holder {
              display: flex;
              height: 100%;
              flex-direction: column;
              justify-content: center;

              .screenshot-link {
                color: #67c1f5;

                img {
                  width: 100%;
                  display: block;
                }
              }
            }
          }
        }

        .slide-area {
          top: -5px;
          padding-top: 10px;
          position: relative;
          display: block;
          height: 102px;
          width: 612px;
          margin-bottom: 3px;
          overflow: auto;
          white-space: nowrap;
          pointer-events: auto;

          &::-webkit-scrollbar {
            height: 18px;
          }

          &::-webkit-scrollbar-track {
            position: fixed;
            height: 19px;
            margin-left: 39px;
            margin-right: 51px;
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            background-color: transparent;
            position: relative;
            height: 19px;
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            background-color: transparent;
          }

          &::-webkit-scrollbar-thumb {
            position: absolute;
            top: 0;
            background-color: rgba(35, 60, 81, 0.4);
            border-radius: 3px;
            cursor: pointer;
            border: none;

            &:hover {
              position: absolute;
              top: 0;
              background: linear-gradient(135deg, #3d6c8d 0%, #2e5470 100%);
              cursor: pointer;
            }
          }

          .slide-area-scroll {
            position: relative;
            transition: left 0.3s;
            white-space: nowrap;
            display: flex;
            margin-right: 10px;

            .highlight-selector {
              position: absolute;
              background-image: url(/images/game_highlight_activethumb.png);
              width: 118px;
              height: 77px;
              z-index: 50;
              top: -10px;
              pointer-events: none;
              background-size: 100% 100%;
            }

            .higlight-slide-item {
              flex-shrink: 0;
              float: left;
              height: 65px;
              width: 116px;
              cursor: pointer;
              text-align: center;
              margin: 2px;
              background-color: #000000;
              position: relative;
              transition: left 0.3s;
              pointer-events: auto;
            }

            .movie-thumb {
              width: 116px;
              height: 65px;
            }

            .movie-marker {
              position: absolute;
              top: 16px;
              left: 42px;
              width: 32px;
              height: 32px;
              background-image: url(/images/ico_game_highlight_video.png);
            }

            .mini-img {
              width: 116px;
              height: 65px;
            }
          }
        }
      }

      .slides-slider {
        position: relative;
        margin-bottom: -27px;
        bottom: 26px;
        height: 18px;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        pointer-events: none;

        .slider-left {
          position: absolute;
          width: 38px;
          top: 0;
          bottom: 0;
          background-color: rgba(35, 60, 81, 0.4);
          border-radius: 3px;
          cursor: pointer;
          left: 0;
          pointer-events: auto;

          &:hover {
            background: linear-gradient(135deg, #3d6c8d 0%, #2e5470 100%);

            span {
              background-position: -18px -7px;
            }
          }

          span {
            display: inline-block;
            background-position: -18px 0px;
            background-repeat: no-repeat;
            background-image: url("/images/icon_cluster_controls.png");
            width: 9px;
            height: 7px;
            margin-left: 13px;
            margin-top: 5px;
          }
        }

        .slider-right {
          position: absolute;
          width: 38px;
          top: 0;
          bottom: 0;
          background-color: rgba(35, 60, 81, 0.4);
          border-radius: 3px;
          cursor: pointer;
          right: 0;
          margin-right: 16px;
          pointer-events: auto;

          &:hover {
            background: linear-gradient(135deg, #3d6c8d 0%, #2e5470 100%);

            span {
              background-position: -9px -7px;
            }
          }

          span {
            display: inline-block;
            background-position: -9px 0px;
            background-repeat: no-repeat;
            background-image: url("/images/icon_cluster_controls.png");
            width: 9px;
            height: 7px;
            margin-left: 15px;
            margin-top: 5px;
          }
        }
      }
    }
  }
}

.queue-area {
  width: 940px;
  background: rgba(0, 0, 0, 0.2);
  margin: 0px auto;
  margin-bottom: 16px;

  .queue-actions {
    padding: 16px;

    .view-queue-button {
      border-radius: 2px;
      border: none;
      padding: 1px;
      cursor: pointer;
      text-decoration: none !important;
      color: #67c1f5 !important;
      background: rgba(103, 193, 245, 0.2);
      float: right;
      margin-bottom: 4px;

      &:hover {
        text-decoration: none !important;
        color: #fff !important;
        background: linear-gradient(-60deg, #417a9b 5%, #67c1f5 95%);
      }

      span {
        padding: 0 15px;
        font-size: 15px;
        line-height: 30px;
        border-radius: 2px;
        display: block;
        background: transparent;

        .arrow-next {
          display: inline-block;
          width: 16px;
          height: 16px;
          background: url(https://store.cloudflare.steamstatic.com/public/shared/images/buttons/icons_16.png);
          vertical-align: text-top;
          margin: 7px 0;
          vertical-align: top;
          background-position: -176px 0px;
        }
      }
    }

    .queue-button-container {
      display: inline-block;
      margin: auto 2px;
      position: relative;

      .queue-button {
        border-radius: 2px;
        border: none;
        padding: 1px;
        display: inline-block;
        cursor: pointer;
        text-decoration: none !important;
        color: #67c1f5 !important;
        background: rgba(103, 193, 245, 0.2);
        margin-bottom: 4px;

        &:hover {
          text-decoration: none !important;
          color: #fff !important;
          background: linear-gradient(-60deg, #417a9b 5%, #67c1f5 95%);
        }

        span {
          border-radius: 2px;
          display: block;
          background: transparent;
          padding: 0 15px;
          font-size: 15px;
          line-height: 30px;

          img {
            vertical-align: middle;
            margin-left: -6px;
            margin-top: -2px;
            margin-right: 3px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .game-title-area {
    max-width: 940px;
    width: auto;
    margin: 0 2%;
  }

  .game-page-content {
    margin: 0 2%;

    .media-summary-block {
      width: auto;
      height: auto;
      display: flex;
      flex-direction: column;
  
      .right-game-summary {
        width: auto;
        height: auto;
        padding: 4px 2%;
  
        .game-image {
          float: left;
          width: 50%;
          margin-right: 8px;
  
          img {
            width: 100%;
            height: auto;
          }
        }
  
        .game-discription {
          overflow: hidden;
          padding-right: 0;
        }
  
        .game-glance-first {
          overflow: hidden;
  
          .summary-column {
            a {
              position: relative;
            }
          }
        }
  
        .user-defined-tags {
          clear: left;
          padding-top: 10px;
          overflow: hidden;
          margin-top: 0;
        }
      }
  
      .left-game-summary {
        width: auto;
        margin-left: 0;
        float: none;
  
        .game-highlights {
          margin-right: 0;
          overflow: hidden;
          position: relative;
  
          .player-area {
            height: 96.6vh;
          }
  
          .player-item {
            .screenshot-link {
              height: 100%;
              position: relative;
            }
          }
  
          .slide-area {
            width: 172.2vh;
          }
        }
  
        .slider-right {
          margin-right: 12.5px;
        }
      }
    }
  }

  .queue-area {
    width: auto;
    margin: 0 0;
    margin-bottom: 16px;
  }
}