
.featured-carousel {
  all: unset;
  display: block;
  background: url("/public/images/cluster_bg.png") bottom center
    no-repeat;
  position: relative;
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 0;
  padding-top: 20px;
  overflow: hidden;
}

.main-carousel-content {
  display: block;
  position: relative;
  width: 940px;
  margin: 0 auto;
}

.main-card {
  display: block;
  flex-shrink: 0;
  background-color: #000;
  position: relative;
  z-index: 2;
  margin-right: 10px;
  width: 616px;
  height: 353px;
  background-size: 616px 353px;
  background-position: center center;
  box-shadow: 5px 1px 5px 0 #000;
}

.info-card {
  flex-shrink: 1;
  display: block;
}

.app-name {
  display: flex;
  align-items: center;
  padding-top: 0px;
  font-family: "Motiva Sans", Sans-serif;
  font-weight: 300;
  height: 69px;
  padding-left: 6px;
  padding-right: 6px;
}
.app-name > div {
  max-height: 62px;
  overflow: hidden;
  font-size: 24px;
  padding-bottom: 4px;
  padding-top: 4px;
  line-height: 26px;
  text-decoration: none;
}

.photos {
  width: 344px;
  display: inline-block;
  margin-left: -30px;
  max-height: 176px;
  position: relative;
}
.photos > div {
  width: 162px;
  height: 69px;
  display: inline-block;
  margin: 5px 10px 0 0;
}
.photos > div > div {
  width: 162px;
  height: 69px;
  background-size: cover;
  background-position: center center;
  display: inline-block;
  position: absolute;
  opacity: 0.6;
  transition: opacity 0.3s;
}
.photos > div > div:hover {
  opacity: 1;
}
.photos > div > div::before {
  content: "";
  position: absolute;
  top: -11px;
  left: -10px;
  right: 0;
  bottom: 0;
  opacity: 0;
}

.reason {
  margin-top: 8px;
  padding-left: 6px;
  display: inline-block;
  width: 298px;
}
.available {
  font-size: 21px;
  font-weight: 200;
  min-height: auto;
}
.recommended {
  min-height: 45px;
  font-size: 17px;
  padding-right: 10px;
  padding-top: 0px;
  font-family: "Motiva Sans", Sans-serif;
  font-weight: 300;
  line-height: 18px;
}
.recommended strong {
  font-weight: 300;
  color: #a3cf06;
}
.tags {
  margin-top: 5px;
  font-size: 14px;
  display: block;
}
.tags > span {
  margin: 3px 0;
  display: inline-block;
  margin-right: 14px;
  line-height: 19px;
  padding: 0 7px;
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: none;
  margin-right: 2px;
  border-radius: 2px;
  cursor: pointer;
  margin-bottom: 3px;
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 11px;
} 

.platform {
  position: absolute;
  bottom: 10px;
  right: 10px;
  opacity: 0.7;
}
.platform:hover {
  opacity: 1;
  transition: opacity 0.3s;
}

.platform-image {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
}
.win {
  background-image: url("/public/images/icon_platform_win.png");
}
.mac {
  background-image: url("/public/images/icon_platform_mac.png");
}

.mobile-carousel {
  position: relative;
  clear: both;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  height: auto;
  white-space: nowrap;
  box-shadow: none;
  overflow-x: scroll;
  overflow-y: hidden;
  box-sizing: content-box;
  padding-bottom: 20px;
  display: flex;
  flex-wrap: nowrap;
}
.mobile-carousel::-webkit-scrollbar {
  width: 1px;
  scrollbar-width: 1px;
}
.mobile-carousel::-webkit-scrollbar-track {
  background-color: transparent;
}
.mobile-carousel::-webkit-scrollbar-thumb {
  border: 6px solid rgba(0, 0, 0, 0);
  width: thin;
  background-clip: content-box;
  padding: 2px;
}
.mobile-carousel::-webkit-scrollbar-thumb:hover {
  border: 6px solid rgba(0, 0, 0, 0);
  width: thin;
  background-clip: content-box;
  padding: 2px;
}

.mobile-capsule {
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: right;
  background-image: none;
  color: #fff;
  box-sizing: border-box;
  transition: opacity 400ms;
  position: relative;
  top: auto;
  left: auto;
  flex-shrink: 0;
  scroll-snap-align: start;
  overflow: visible;
  opacity: 1;
  pointer-events: auto;
  display: inline-block;
  height: auto;
  width: 85%;
  box-shadow: 0 0 7px 0px #000;
  text-decoration: none;
  margin-right: 11px;
}

.mobile-capsule-content {
  cursor: pointer;
  color: #fff;
  pointer-events: auto;
  background-color: #000;
  position: relative;
  z-index: 2;
  margin-right: 10px;
  background-position: center center;
  background-size: cover;
  padding-top: 57.3%;
  height: 0;
  width: 100%;
  overflow: hidden;
}

@media screen and (max-width: 1000px) {
  .info-card {
    background: linear-gradient(180deg, #0a141d 0%, rgba(10, 20, 29, 0.2) 100%);
    min-height: 70px;
    height: 90px;

    .app-name {
      margin-top: 0;
      div {
        line-height: unset;
        font-size: 18px;
        font-weight: 600;
      }
    }
    .no-discount {
      position: relative;
      top: initial;
      left: initial;
      font-size: 14px;
      line-height: 21px;
    }
    .discount-block {
      position: relative;
      bottom: initial;
      left: initial;
      font-size: 14px;
      line-height: 21px;
      pointer-events: auto;
    }
    .discount-precentage {
      font-size: 14px;
      line-height: 21px;
    }
    .discount-prices {
      font-size: 14px;
      line-height: 21px;
    }
  }
  .main-carousel-content {
    width: auto;
  }
}
