.page-loading-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-bottom: -50%;
  background: #0b141b;
  z-index: 100000;

  .img-container {
    display: flex;
    position: fixed;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border-radius: 50%;
    width: 105px;
    height: 105px;
    filter: drop-shadow(0 0 2px #ffffff44) drop-shadow(0 0 40px #ffffff27);

    img {
      width: 100px;
      height: 100px;
      transform: translate(0.6px, -0.8px);
      filter: drop-shadow(0 0 3px #00ffff27) drop-shadow(0 0 10px #00ffff27);
    }
  }

  .loading-spinner {
    position: fixed;
    width: 115px;
    height: 115px;
    border: 3px solid transparent;
    border-top: 3px solid #00ffff;
    border-bottom: 3px solid #00ffff;
    border-radius: 100%;
    animation: spin 1s linear infinite;
    filter: drop-shadow(0 0 2px #00ffff) drop-shadow(0 0 5px #00ffff);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}