.search-header {
	background: url('/images/s_cluster_bg.png') bottom center no-repeat;
	padding-bottom: 60px;
}

.search-title {
	font-size: 18px;
	color: #9099a1;
	font-family: "Motiva Sans", Sans-serif;
	font-weight: 300;
	margin-bottom: 6px;
}

.search-tag {
	color: #67c1f5;
	background: rgba(0, 0, 0, 0.2);
	font-size: 12px;
	padding: 8px 10px;
	margin: 3px 5px 0 0;
	display: inline-block;
	border-radius: 2px;
	line-height: 14px;

	img {
		display: inline;
		float: left;
		width: 14px;
		height: 14px;
		padding-right: 4px;
	}

	a {
		margin-left: 10px;
		display: inline-block;
		width: 12px;
		height: 12px;
		background-image: url('/images/deleteSearchTerm.png');
		vertical-align: top;
		margin-top: 1px;
		cursor: pointer;
	}
}

.s-page-content {
	width: 940px;
	margin: 0 auto;
	background-color: #1b2838;
	display: flex;
	margin-top: -30px;

	@media screen and (max-width: 960px) {
		width: auto;

		.search-form {
			width: -webkit-fill-available;
			width: fill-available;
		}
	}

	@media screen and (max-width: 695px) {
		width: auto;
		margin: 0 2%;
		margin-top: -30px;
	}
}


.search-leftcol {
	width: 686px;
	float: left;

	@media screen and (max-width: 960px) {
		width: auto;
		float: none;
	}

	.search-bar {
		margin-bottom: 4px;
		position: relative;
		background: rgba(0, 0, 0, 0.4);
		padding: 6px;

		.sort-box {
			float: right;
			margin-top: 4px;

			.label {
				font-size: 12px;
				color: #4c6c8c;
				display: inline-block;
				margin-right: 4px;
			}

			.select-container {
				display: inline-block;
				vertical-align: middle;
				width: 120px;

				.trigger {
					display: block;
					color: #67c1f5;
					background: rgba(103, 193, 245, 0.1);
					padding: 0 30px 0 8px;
					font-size: 12px;
					line-height: 21px;
					border: 0;
					border-radius: 3px;
					text-decoration: none;
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
					position: relative;
					user-select: none;
					cursor: pointer;

					&:hover,
					&.open {
						background: linear-gradient(-60deg, #417a9b 5%, #67c1f5 95%);
						color: #ffffff;
					}

					&::after {
						content: '';
						position: absolute;
						right: 0;
						top: 0;
						bottom: 0;
						width: 20px;
						background: url('/images/ico_arrow_dn_for_select.png') no-repeat left center;
					}
				}

				.select-dropdown {
					position: absolute;

					ul {
						list-style-type: none;
						line-height: 22px;
						margin: 0;
						padding-left: 0px;
						position: absolute;
						top: 0;
						left: 0;
						right: 0;
						z-index: 900;
						overflow: auto;
						overflow-x: hidden;
						box-shadow: 0 0 5px 0 #000000;
						background: #417A9B;
						width: 150px;

						li {
							padding: 0;
							margin: 0;
							cursor: pointer;
							padding-left: 8px;
							color: #ffffff;

							&:hover {
								background: linear-gradient(-60deg, #417a9b 5%, #67c1f5 95%);
							}

							a {
								padding: 0 10px;
								display: block;
								text-decoration: none;
								white-space: nowrap;
							}

						}
					}
				}
			}
		}

		.searchbar-left {
			overflow: hidden;
			white-space: nowrap;
			padding-bottom: 1px;

			input {
				background-color: rgba(103, 193, 245, 0.2);
				color: #fff;
				border: 1px solid #000;
				border-radius: 3px;
				box-shadow: 1px 1px 0px rgba(103, 193, 245, 0.15);
				width: 300px;
				padding: 5px;
				max-width: calc(100% - 80px - 2px);

				&:focus-visible {
					outline: 1px solid #67c1f5;
					overflow: visible;
					outline-offset: -2px;
				}
			}

			.search-btn {
				border-radius: 2px;
				border: none;
				padding: 1px;
				display: inline-block;
				cursor: pointer;
				text-decoration: none !important;
				color: #67c1f5 !important;
				background: rgba(103, 193, 245, 0.2);
				height: 25px;
				margin-left: 5px;

				span {
					border-radius: 2px;
					display: block;
					background: transparent;
					padding: 0 15px;
					font-size: 12px;
					line-height: 20px;
				}

				&:hover {
					text-decoration: none !important;
					color: #fff !important;
					background: linear-gradient(-60deg, #417a9b 5%, #67c1f5 95%);
				}
			}
		}
	}

	.search-results {
		max-width: 686px;

		.search-result {
			position: relative;
			background: rgba(0, 0, 0, 0.2);
			margin-bottom: 5px;
			display: block;
			text-decoration: none;
			color: #c6d4df;
			font-family: "Motiva Sans", Sans-serif;
			font-weight: 300;
			border: 1px solid rgba(139, 185, 224, 0);
			height: 45px;
			overflow: hidden;
			transition: height 0.25s, margin 0.25s;

			@media screen and (max-width: 695px) {
				padding: 5px;
				height: auto;
			}

			&:hover {
				position: relative;
				margin-bottom: 5px;
				display: block;
				text-decoration: none;
				color: #c6d4df;
				font-family: "Motiva Sans", Sans-serif;
				font-weight: 300;
				border: 1px solid rgba(139, 185, 224, 0.2);
				background: rgba(0, 0, 0, 0.4);
			}

			.s-col {
				height: 45px;
				display: inline-block;
				vertical-align: top;

				@media screen and (max-width: 695px) {
					float: left;
					display: block;
				}
			}


			.reuslt-info {
				display: inline-block;
				vertical-align: top;

				@media screen and (max-width: 695px) {
					overflow: hidden;
					padding-left: 12px;
					display: block;
				}

				.result-name {
					width: 275px;
					margin-left: 10px;
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;

					@media screen and (max-width: 695px) {
						float: none;
						width: auto;
						margin: 0;

						.search-title {
							margin-top: 0;
						}
					}

					.result-title {
						margin-top: 5px;
						display: block;
						text-overflow: ellipsis;
						overflow: hidden;
						color: #c7d5e0;
					}

					>div {
						.platform-img {
							display: inline-block;
							width: 20px;
							height: 20px;
							background-repeat: no-repeat;
							opacity: 0.3;

							&.win {
								background-image: url('/images/icon_platform_win.png');
							}

							&.mac {
								background-image: url('/images/icon_platform_mac.png');
							}
						}
					}
				}

				.result-date {
					width: 85px;
					color: #4c6c8c;
					font-size: 11px;
					line-height: 45px;
					white-space: nowrap;
					text-overflow: ellipsis;
					overflow: hidden;

					@media screen and (max-width: 695px) {
						line-height: 18px;
						height: 18px;
					}
				}

				.result-rating {
					width: 30px;
					font-size: 11px;
					line-height: 16px;
					margin-left: 10px;
					height: 16px;
					padding: 14px 0 15px 0;
					text-align: center;

					@media screen and (max-width: 695px) {
						padding: 0;
						line-height: 18px;
						height: 18px;
						float: left;
						display: block;
					}

					.search-review-summary {
						display: inline-block;
						height: 16px;
						width: 16px;
						vertical-align: middle;
						background: no-repeat center center;

						&.positive {
							background-image: url('/images/user_reviews_positive.png');
						}

						&.negative {
							background-image: url('/images/user_reviews_negative.png');
						}

						&.mixed {
							background-image: url('/images/user_reviews_mixed.png');
						}
					}

				}

				.result-price {
					vertical-align: top;
					height: 45px;
					display: inline-block;

					@media screen and (max-width: 695px) {
						float: right;
						padding-right: 8px;
						line-height: 18px;
						height: 18px;
						display: block;
					}

					.s-discount-block {
						width: 150px;
						height: 100%;
						align-items: center;
						position: relative;
						display: flex;

						.discount-percentage {
							font-family: "Motiva Sans", Sans-serif;
							font-weight: 500;
							color: #BEEE11;
							background: #4c6b22;
							display: inline-block;
							padding: 5px;

							@media screen and (max-width: 695px) {
								padding: 1px 5px;
							}
						}

						.discount-prices {
							display: flex;
							background: #344654;
							flex-direction: column;
							align-items: flex-end;
							justify-content: center;
							padding-left: 4px;
							flex: 100px;
							background-color: inherit;

							@media screen and (max-width: 695px) {
								flex-direction: row;
								align-items: center;
								justify-content: flex-end;

								.discount-original-price {
									margin-right: 4px !important;
								}
							}

							.discount-original-price {
								position: relative;
								width: fit-content;
								color: #888888;
								font-size: 11px;
								line-height: 12px;

								&::before {
									content: '';
									left: 0px;
									right: 0px;
									position: absolute;
									top: 43%;
									border-bottom: 1.5px solid #738895;
									transform: skewY(-8deg);
									box-shadow: 0 0 2px black;
								}
							}

							.discount-final-price {
								color: #BEEE11;
								line-height: 16px;
								font-size: 13px;

								&.s-no-discount {
									color: #c6d4df;
								}
							}
						}
					}
				}
			}
		}
	}
}

.open-filters {
	display: block;
	background-color: rgba(104, 157, 221, 0.6);
	position: fixed;
	right: 0;
	top: 68px;
	border-top-left-radius: 80px;
	border-bottom-left-radius: 80px;
	width: 30px;
	height: 50px;
	z-index: 500;
	background-image: url('/images/local_menu_hamburger.png');
	background-repeat: no-repeat;
	background-position: 2px center;
	background-size: 110%;
	transition: opacity 0.5s;
	box-shadow: 0 0 30px 0 #6799e2;
	cursor: pointer;
}

.s-slide-menu {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	overflow: hidden;
	overflow-y: auto;
	background: #171a21;
	-webkit-overflow-scrolling: touch;
	box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.75);
	transition: left 0.5s, right 0.5s;
	z-index: 1000;
	width: 280px;
	margin-left: 100vw;


	&.shown {
		left: -280px;
	}

	.right-col-wrapper {
		padding: 16px;
	}
}

.search-rightcol {
	width: 238px;
	margin-left: 14px;
	float: right;

	@media screen and (max-width: 960px) {
		float: none;
		width: auto;
		margin-left: 0;
	}

	.filter-block {
		margin-bottom: 16px;

		.filter-header {
			position: relative;
			background: rgba(255, 255, 255, 0.1);
			padding: 4px 4px 4px 6px;
			color: #c7d5e0;
			font-size: 12px;
			font-family: "Motiva Sans", Sans-serif;
			font-weight: normal;
			cursor: pointer;
		}

		.filter-content {
			border: 1px solid rgba(255, 255, 255, 0.1);
			border-bottom-right-radius: 2px;
			border-bottom-left-radius: 2px;
			padding: 4px 2px 4px 4px;
			overflow: hidden;

			.range-container {
				padding: 0 12px;
				text-align: center;
				margin-top: 8px;

				.range-inner {
					display: flex;

					.range-input {
						appearance: none;
						-webkit-appearance: none;
						width: 100%;
						margin: 4.45px 0;
						background-color: rgba(0, 0, 0, 0);
						max-height: 5px;
						flex: 1;

						&::-webkit-slider-thumb {
							appearance: none;
							-webkit-appearance: none;
							width: 12px;
							height: 12px;
							margin-top: -4px;
							background: #ffffff;
							box-shadow: 0 0 5px 1px #000000;
							border-radius: 50%;
							cursor: pointer;
						}

						&::-moz-range-thumb {
							appearance: none;
							-webkit-appearance: none;
							width: 12px;
							height: 12px;
							margin-top: -4px;
							background: #ffffff;
							box-shadow: 0 0 5px 1px #000000;
							border-radius: 50%;
							cursor: pointer;
						}

						&::-webkit-slider-runnable-track {
							width: 100%;
							height: 4px;
							background: #67c1f5;
							border-radius: 3px;
						}

						&::-moz-range-track {
							width: 100%;
							height: 4px;
							background: #67c1f5;
							border-radius: 3px;
						}
					}
				}

				.range-display {
					line-height: 28px;
					padding: 0 8px;
					font-size: 13px;
					font-family: "Motiva Sans", Sans-serif;
					font-weight: normal;
					color: #9fbbcb;
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
				}
			}

			.block-rule {
				background: rgba(255, 255, 255, 0.1);
				height: 1px;
				margin: 8px;
			}

			.filter-control-row {
				display: flex;
				cursor: pointer;

				&:hover {
					color: #ffffff;
					background: rgba(255, 255, 255, 0.1);
				}

				&.checked,
				&.excluded {
					display: flex;
					cursor: pointer;
					background: linear-gradient(135deg, #67c1f5 0%, #417a9b 100%);

					span {
						color: #ffffff;
					}
				}

				&.checked {
					.tab-checkbox {
						background-position: bottom center !important;
					}
				}

				&.excluded {
					img {
						opacity: 1.0 !important;
					}
				}


				.filter-tab {
					flex-grow: 1;
					line-height: 28px;
					padding: 0 8px;
					font-size: 13px;
					font-family: "Motiva Sans", Sans-serif;
					font-weight: normal;
					color: #9fbbcb;
					background: rgba(0, 0, 0, 0);
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
					margin-bottom: 2px;
					cursor: pointer;

					.tab-checkbox {
						display: inline-block;
						width: 16px;
						height: 16px;
						background-position: top center;
						margin-right: 8px;
						background-image: url('/images/store_checkbox_blue.png');
						vertical-align: text-bottom;
					}

					.tab-count {
						font-style: italic;
						color: rgba(255, 255, 255, 0.5);
					}
				}

				.tab-exclude {
					float: right;
					margin: 6px;
					width: 16px;
					height: 16px;

					img {
						opacity: 0.1;
					}
				}
			}
		}
	}
}