@import "https://fonts.cdnfonts.com/css/motiva-sans";
@import "https://fonts.cdnfonts.com/css/arial";
@import "https://fonts.cdnfonts.com/css/microsoft-sans-serif";

* {
	padding: 0;
	margin: 0;  
}
*, ::after, ::before {
	box-sizing: unset;
}

html {
	height: 100%;
}


body {
	padding: 0;
	margin: 0;
	min-height: 100vh;
	display: block;
	height: auto;
	position: relative;
	color: #969696;
	font-family: "Motiva Sans", "Arial", "Helvetica", "sans-serif";
	letter-spacing: 0.03em;
	font-size: 12px;
	color: #c6d4df;
	letter-spacing: -0.2px;
	word-spacing: -1px;

	@media screen and (min-width: 1001px) {
		margin-bottom: 151.5px;
		#root {
			padding-bottom: 151.5px
		}
	}

	img {
		border: none;
	}

	h2 {
		font-family: "Motiva Sans", "Sans-serif";
		font-weight: 300;
		font-size: 14px;
		text-transform: uppercase;
		color: #fff;
		margin: 0 0 10px;
		letter-spacing: 0.03em;
		font-weight: normal;
		padding-top: 2px;
	}

	a {
		text-decoration: none;
		color: #ffffff;
		&:hover {
			text-decoration: none;
			color: #66c0f4;
	}
	}
}

::selection {
	background: #54a5d4;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.67);
	color: #fff;
}

::-webkit-scrollbar {
	width: 12px;
	background: rgba(0, 0, 0, 0);
}
::-moz-scrollbar-thumb  {
	width: 12px;
	background: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-corner {
	background: #202020;
}
::-moz-scrollbar-corner {
	background: #202020;
}

::-webkit-scrollbar-track {
	background: #1b2838;
}
::-moz-scrollbar-track {
	background: #1b2838;
}

::-webkit-scrollbar-thumb {
	background-color: #434953;
	border-radius: 20px;
	border: 3px solid #1b2838;

	&:hover {
		background: #4e5157;
	}
}
::-moz-scrollbar-thumb {
	background-color: #434953;
	border-radius: 20px;
	border: 3px solid #1b2838;

	&:hover {
		background: #4e5157;
	}
}

@keyframes throbber {
	0% {
		transform: scaleX( 1.0 ) scaleY( 0.6 );
		background-color: #67c1f5;
	}
	30% {
		transform: scaleX( 1.0 ) scaleY( 1.0 );
		background-color: #67c1f5;
	}
	55% {
		transform: scaleX( 1.0 ) scaleY( 0.6 );
		background-color: #67c1f5;
	}
	100% {
		transform: scaleX( 1.0 ) scaleY( 0.6 );
		background-color: #67c1f5;
	}
}


.throbber {
	width: 35px;
	height: 40px;
	display: block;

	div {
		float: left;
		width: 25%;
		height: 100%;
		background-color: #67c1f5;
		animation: throbber 1s ease-in-out infinite;
		&:nth-child(1) {
			transform: scaleX( 1.0 ) scaleY( 0.6 );
		}
		&:nth-child(2) {
			margin-left: 12%;
			transform: scaleX( 1.0 ) scaleY( 0.6 );
			animation-delay: 0.16s;
		}
		&:nth-child(3) {
			margin-left: 12%;
			transform: scaleX( 1.0 ) scaleY( 0.6 );
			animation-delay: 0.32s;
		}
	}
}


@keyframes LoadingSpinner {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.submit-button {
	position: relative;
	background: linear-gradient(90deg, #06BFFF 0%, #2D73FF 100%);
	border-radius: 2px;
	border: none;
	outline: none;
	padding: 12px;
	margin: auto;
	color: #fff;
	font-size: 16px;
	font-weight: 400;
	font-family: inherit;
	text-align: center;
	cursor: pointer;
	width: 270px;

	&:hover {
		background: linear-gradient(90deg, #06BFFF 30%, #2D73FF 100%);
	}

	&.loading {
		color: rgba(0,0,0,0);
		.loading-container {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			display: flex;
			justify-content: center;
			align-items: center;

			.loading-spinner {
				width: 2.4em;
				height: 2.4em;
				min-width: 2.4em;
				min-height: 2.4em;
				border-top-width: .3em;
				border-right-width: .3em;
				border-bottom-width: .3em;
				border-left-width: .3em;
				border-radius: 50%;
				margin: auto;
				font-size: 10px;
				position: relative;
				text-indent: -9999em;
				border-top: .3em solid rgba(255,255,255,.2);
				border-right: .3em solid rgba(255,255,255,.2);
				border-bottom: .3em solid rgba(255,255,255,.2);
				border-left: .3em solid #fff;
				transform: translateZ(0);
				animation: LoadingSpinner 1.1s infinite linear;
			}
		}
	}
	&:disabled {opacity: .5;}
}



.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0);
	z-index: 999;
	transition: background 0.3s ease;
	pointer-events: none;

	&.show {
		background: rgba(0, 0, 0, 0.5);
		pointer-events: auto;
	}
}

.page-content {
	width: 940px;
	margin: 0 auto;
	position: relative;
}

.game-review-summary {
	&.positive {
		color: #66c0f4;
	}

	&.mixed {
		color: #b9a074;
	}

	&.negative {
		color: #a34c25;
	}

	&:hover {
		cursor: pointer;
	}
}